@import 'tailwindcss';

* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    color: #182447;
    background-color: #f1eddc;
}

.content {
    width: 90%;
    margin: auto;
}

p {
    color: #182447;
    font-style: bold;
}

img:hover {
    opacity: 80%;
}

/* ------ HEADER ------ */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
    box-shadow: 2 2px 1px rgba(160, 156, 194, .4);
    border-radius: 8px;
}

.heroImg {
    max-width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.navLinks {
    margin-top: 0.8rem;
    padding: 10px;
}


.navLinks a {
    text-decoration: none;
    color: #ede9da;
    background-color: #A09CC2;
    font-weight: bold;
    padding: 0.8rem;
    display: inline-block;
    border-radius: 8px;

}

.navLinks a:hover {
    background-color: #182447;

}

/* ------ COLUMNS ------ */

h1 {
    color: #2c3f76;
}

.row {
    display: flex;
    gap: 10px;

    /* space between columns */
}

.leftColumn {
    flex: 3;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px #182447;
}

.rightColumn {
    flex: 1;
    margin-top: 20px;
    background-color: #f4f2ef;
    border-radius: 8px;
    box-shadow: 0 2px 5px #182447;
}

h4 {
    color: #A09CC2;
}

/* ------ CREATE ACC FORM ------ */

.create {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: #f5f5f5;
    max-width: 1000px;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px #A09CC2;
}

.createAccountForm {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.createAccountForm input {
    padding: 0.2rem;
    font-size: 1.1rem;
    max-width: 300px;
    border: 1px solid #ede9da;
    border-radius: 4px;
}

.createAccountForm button {
    padding: 0.4rem;
    font-weight: bold;
    max-width: 110px;
    background-color: #A09CC2;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.createAccountForm button:hover {
    background-color: #182447;
    color: #ffffff;

}

/* ------ ACCOUNT PAGE ------ */

.account {
    padding: 2rem;
    max-width: 1000px;
    margin: 2rem auto;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 5px #A09CC2;
    text-align: center;
}

.account h1 {
    color: #2c3f76;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.account p {
    font-size: 1.1rem;
    color: #182447;
}

.post-summary {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
}

.post-summary img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.post-summary {
    border: 1px solid #A09CC2;
    padding: .7rem;
    margin-bottom: .7rem;
}

.delete {
    float: right;
}

/* ------ ADD POST ------ */
.coverImage {
    width: 500px;
}

.post {
    padding: 30px;
    margin-top: 10px;
}

.blogPostSection {
    padding: 1rem;
    background-color: #f5f5f5;
    max-width: 1000px;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px #A09CC2;
}

.blogForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.blogForm input {
    padding: 0.4rem;
    font-size: 1.1rem;
    border: 1px solid #ede9da;
    border-radius: 4px;
}

.blogForm textarea {
    padding: 0.8rem;
    font-size: 1.2rem;
    border: 1px solid #ede9da;
    border-radius: 4px;
    min-height: 420px;
    resize: vertical;
    line-height: 1.5;

}

.blogForm button {
    background-color: #A09CC2;
    color: #ffffff;
    padding: 0.6rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;

}

.formButtons {
    display: flex;
    gap: 0.9rem;
    margin-top: 0.5rem;
}

.blogForm button:hover {
    background-color: #182447;
}

#blogStatus {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    color: green;
}

#blogStatus.success {
    color: green;
    font-size: large;

}

#blogStatus.error {
    color: red;
    font-size: large;

}

#blogStatus.info {
    color: #182447;
    font-size: large;

}

.success {
    color: green;
    font-size: large;
}

/*------- VIEW POST ------- */
.Vpost {
    padding: 2rem;
    max-width: 1400px;
    margin: 2rem auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px #A09CC2;
    text-align: center;
}

.viewPost {
    max-width: 990px;
    margin: 2rem auto;
}

.delete {
    padding: 0.3rem 0.6rem;
    background-color: #C95F5F;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.readMore {
    display: inline-block;
    margin-bottom: 2rem;
    text-decoration: none;
    color: #A09CC2;
    font-size: large;
}

/* ------   CONTACT FORM ------ */
.contact {
    padding: 1rem;
    background-color: #f5f5f5;
    max-width: 1000px;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px #A09CC2;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.contactForm input {
    padding: 0.4rem;
    font-size: 1.1rem;
    border: 1px solid #ede9da;
    border-radius: 4px;
}

.contactForm textarea {
    padding: 0.4rem;
    font-size: 1.1rem;
    border: 1px solid #ede9da;
    border-radius: 4px;
    min-height: 200px;
    resize: vertical;
    line-height: 1.5;
}

.contactForm button {
    padding: 0.4rem;
    font-weight: bold;
    background-color: #A09CC2;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contactForm button:hover {
    background-color: #182447;
    color: #ffffff;

}

/* ------ FOOTER ------ */
.footer {
    padding: 20px;
    text-align: center;
    background: #A09CC2;
    color: #f1eddc;
    margin-top: 20px;
    box-shadow: 0 2px 5px #182447;
    border-radius: 8px;
}


/* --- Responsive for smaller screens --- */
@media screen and (max-width: 800px) {
    .row {
        flex-direction: column;
    }

    .leftColumn,
    .rightColumn {
        width: 100%;
        padding: 0;
    }
}